body {
  background-color: pink;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: grid;
  place-items: center;
}

#wrapper {
  aspect-ratio: 1.618;
  width: 90vmin;
  margin: 3rem;
  position: relative;
}

#wrapper > .shape {
  position: absolute;
  width: 50%;
  height: 50%;
  border-radius: 8rem;
  transition: top, left, width, height;
  transition-duration: 850ms;
  transition-timing-function: ease-in-out;
  /* background-color: red; */
}

/* config #1 */
#wrapper[data-configuration="1"] > .shape:nth-child(1) {
  background-color: aliceblue;
}
#wrapper[data-configuration="1"] > .shape:nth-child(2) {
  background-color: blueviolet;
  top: 50%;
}
#wrapper[data-configuration="1"] > .shape:nth-child(3) {
  background-color: yellowgreen;
  left: 50%;
}
#wrapper[data-configuration="1"] > .shape:nth-child(4) {
  background-color: black;
  left: 50%;
  top: 50%;
}

/* config #2 */
#wrapper[data-configuration="2"] > .shape:nth-child(1) {
  background-color: aliceblue;
  top: 50%;
  left: 40%;
  width: 70%;
  height: 30%;
}
#wrapper[data-configuration="2"] > .shape:nth-child(2) {
  background-color: blueviolet;
  top: 90%;
  left: 20%;
  width: 70%;
  height: 10%;
}
#wrapper[data-configuration="2"] > .shape:nth-child(3) {
  background-color: yellowgreen;
  top: 40%;
  left: 70%;
  width: 30%;
  height: 40%;
}
#wrapper[data-configuration="2"] > .shape:nth-child(4) {
  background-color: black;
  top: 20%;
  left: 70%;
  width: 10%;
  height: 40%;
}

/*  config #3 */
#wrapper[data-configuration="3"] > .shape:nth-child(1) {
  background-color: aliceblue;
  top: 20%;
  left: 20%;
  width: 30%;
  height: 70%;
}
#wrapper[data-configuration="3"] > .shape:nth-child(2) {
  background-color: blueviolet;
  top: 60%;
  left: 0%;
  width: 20%;
  height: 20%;
}
#wrapper[data-configuration="3"] > .shape:nth-child(3) {
  background-color: yellowgreen;
  top: 20%;
  left: 50%;
  width: 40%;
  height: 70%;
}
#wrapper[data-configuration="3"] > .shape:nth-child(4) {
  background-color: black;
  top: 20%;
  left: 70%;
  width: 10%;
  height: 40%;
}